*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  black;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
.background{
    width: 50%;
    margin: auto;
    height: 100vh;
    background-image: url(../img/563543ff14904e9b7b2096acc5bf20358a1c3f1e.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}
.lay-out{
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    background-color: rgba(79, 73, 59, 0.647);
}
.flib-card{
    width: 72%;
    height: 100%;
    margin: auto;
    position: relative;    
    
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}
.front{
    width: 100%;
    height: 100%;
    background-image: url(../img/9a05790936f469a0dac0d0609e0223d9cc2483f2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    border-radius:25px ;
    backface-visibility: hidden;
    z-index: 4;
}
.front-content{
    height: 28%;
    display: flex;
    align-items:center;
    gap: 80px;
    margin-left: 8%;
    margin-bottom: 3%;
    
}
.front-content h2{
    color: white;
    font-size: 35px;
    width: 58%;
}
.back{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:25px ;
    padding-left: 8%;
    padding-right: 8%;

    transform: rotateY(180deg);
    backface-visibility: hidden; 
}
.back-content-top{
    margin-top: 30%;
}
.back-content-top h2{
    font-size: 40px;
    line-height: 1.2;
    width: 72%;
}
.font-color{
    color: #1E335C;
}
.back-content-top p{
    font-size: 16.5px;
    line-height: 1.6;
    width: 96%;
    font-weight: 300;
    margin-top: 4%;
    
}
.back-content-bottom{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
    padding-right: 5%;
    margin-top: 25%;
    position: relative;
}
.back-content-bottom button{
    background-color: white;
    border: none;
    color: #19ABFE;
    font-size: 20px;
}
.back-content-bottom i{
    display: none;
}
.flib-card:hover .card-inner{
    transform: rotateY(180deg);
}
.back-content-bottom:hover img {
    display: none;
}
.back-content-bottom:hover button{
    background-color: #19ABFE;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 30px;
} 
.back-content-bottom:hover i{
    display: block;
    position: absolute;
    left: 6%;
    color: black;
    z-index: 10;

}